<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>To do List</title>
</head>
<body>

<h1>My To do List <small><a href="add-todo-form.php">ADD</a></small></h1>

{{# todos }}

<b>{{ id }}</b> {{ task }} {{# is_completed }} - <b>completed</b> {{/ is_completed }}
<a href="edit-todo-form.php?id={{ id }}">EDIT</a>
<br />

{{/ todos }}

</body>
</html>
