<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Students</title>
</head>
<body>

<h1>Students</h1>
<ol>
{{# students }}

<li><strong>{{ name }}</strong> - {{ gender }}</li>

{{/ students }}
</ol>


</body>
</html>
